<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>수상 경력</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">수상 경력</strong><br>
				<ul class="lists">
					<li><strong class="classification">Hackathon & Makerthon</strong>
						<ul>
							<li><strong>환경데이터 활용 공모전 - 제품&서비스 개발 분야: 우수상</strong> [2022.06]
								<ul class="explanation1">
									<li>정의: 환경 데이터를 이용한 창업 아이템을 개발한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 PHP를 이용한 홈페이지 개발과 Flask를 이용한 서버 개발을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>군포e비즈니스고등학교 e-디지털콘텐츠과 프로젝트 발표회: 우수상</strong> [2012.10]
								<ul class="explanation1">
									<li>정의: NXT LEGO MINDSTORM으로 로봇을 제작한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 로봇 제작 및 RobotC 프로그래밍을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>군포e비즈니스고등학교 스크래치작품발표회: 우수상</strong> [2011.09]
								<ul class="explanation1">
									<li>정의: Scratch로 게임을 개발한 후 발표하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>관광데이터 활용 공모전: 장려상</strong> [2022.10]
								<ul class="explanation1">
									<li>정의: 관광 데이터를 이용한 창업 아이템을 개발한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 React Native를 이용한 하이브리드 앱 개발 및 PHP를 이용한 서버 개발을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>메타버스 기반 핀테크 해커톤: 장려상</strong> [2021.12]
								<ul class="explanation1">
									<li>정의: Unity로 메타버스 서비스를 개발한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 Unity 프로그래밍, Agora로 영상 통신 시스템 구축, NH오픈플랫폼으로 결제 시스템 구축 등 메타버스 서비스 개발을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>경기도 상업정보능력경진대회 - e-biz솔루션분야: 장려상</strong> [2012.06]
								<ul class="explanation1">
									<li>정의: HTML, CSS, JavaScript를 이용해서 제한 시간 안에 홈페이지를 잘 개발하는지 평가하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>WEMIX 해커톤: 본선 진출</strong> [2022.03]
								<ul class="explanation1">
									<li>정의: 창업 아이템을 개발한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 Unity 프로그래밍 등 메타버스 서비스 개발을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>미래산업 비즈니스 모델 아이디어 공모전: 본선 진출</strong> [2021.12]
								<ul class="explanation1">
									<li>정의: 창업 아이템을 기획한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 기획서를 검토한 후 PUN2, Python 등 어떤 기술을 사용할 것인지 적었습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>MIDAS Challenge - 모바일분야: 본선 진출</strong> [2018.05]
								<ul class="explanation1">
									<li>정의: 웹, 모바일, 응용SW 중 1가지로 창업 아이템을 개발한 후 발표하는 대회였습니다.</li>
									<li>역할: 팀에서 Java를 이용한 안드로이드 개발을 총괄 담당하였습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>CookApps 게임제작 공모전: 본선 진출</strong> [2017.09]
								<ul class="explanation1">
									<li>정의: 모바일 게임을 개발한 후 발표하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Algorithm</strong>
						<ul>
							<li><strong>군포e비즈니스고등학교 교내기능경진대회(프로그래밍): 장려상</strong> [2012.12]
								<ul class="explanation1">
									<li>정의: 제한 시간 안에 알고리즘 문제를 잘 푸는지 평가하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Personality</strong>
						<ul>
							<li><strong>경기도교육감 표창장</strong> [2012.08]
								<ul class="explanation1">
									<li>정의: 학업 뿐만 아니라, 대회 수상, 봉사 활동, 자격증 취득 등 꾸준히 자기 개발을 하고, 품행이 단정할 정도로 성실해서 표창장을 받았습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>광명시의회의장 표창장</strong> [2014.02]
								<ul class="explanation1">
									<li>정의: 학업 뿐만 아니라, 대회 수상, 봉사 활동, 자격증 취득 등 꾸준히 자기 개발을 하고, 품행이 단정할 정도로 성실해서 표창장을 받았습니다.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>2021 대한민국 인재상: 본선 진출</strong> [2021.12]
								<ul class="explanation1">
									<li>정의: 교수님한테 추천을 받고 자기소개서를 작성한 후 PT발표하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">English</strong>
						<ul>
							<li><strong>군포e비즈니스고등학교 영어말하기대회: 최우수상</strong> [2012.11]
								<ul class="explanation1">
									<li>정의: 제한 시간 안에 유창성 있게 영어로 말하는지 평가하는 대회였습니다.</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>