<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>Awards</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Awards</strong><br>
				<ul class="lists">
					<li><strong class="classification">Hackathon & Makerthon</strong>
						<ul>
							<li><strong>Environmental Data Utilization Contest - Product and Service Development Field: Excellence Award</strong> [2022.06]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a startup item using environmental data after developing it.</li>
									<li>Role: I was in charge of website development using PHP and server development using Flask.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gunpo e-Business High School e-Digital Contents Project Presentation: Excellence Award</strong> [2012.10]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a robot with NXT LEGO MINDSTORM after building it.</li>
									<li>Role: I was in charge of robot building and RobotC programming.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gunpo e-Business High School Scratch Work Presentation: Excellence Award</strong> [2011.09]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a game with Scratch after developing it.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Tourism Data Utilization Contest: Encouragement Award</strong> [2022.10]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a startup item using tourism data after developing it.</li>
									<li>Role: I was in charge of hybrid app development using React Native and server development using PHP.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Metaverse-based Fintech Hackathon: Encouragement Award</strong> [2021.12]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a metaverse service with Unity after developing it.</li>
									<li>Role: I was in charge of developing metaverse services such as Unity programming, video communication system construction with Agora, and payment system construction with NH open platform.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gyeonggi-do Commercial Information Competency Contest - e-biz Solution Field: Encouragement Award</strong> [2012.06]
								<ul class="explanation1">
									<li>Definition: It was a contest to evaluate whether the website was developed well within limited time using HTML, CSS, and JavaScript.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>WEMIX Hackathon: Advance to Final</strong> [2022.03]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a startup item after developing it.</li>
									<li>Role: I was in charge of development of metaverse services such as Unity programming.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Future Industry Business Model Idea Contest: Advance to Final</strong> [2021.12]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a startup item after planning it.</li>
									<li>Role: I wrote down which technology to use, such as PUN2 and Python after reviewing the proposal by the team.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>MIDAS Challenge - Mobile Field: Advance to Final</strong> [2018.05]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a startup item based on one of web, mobile, and application software after developing it.</li>
									<li>Role: I was in charge of Android development using Java.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>CookApps Game Creation Contest: Advance to Final</strong> [2017.09]
								<ul class="explanation1">
									<li>Definition: It was a contest to present a mobile game after developing it.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Algorithm</strong>
						<ul>
							<li><strong>Gunpo e-Business High School Skills Contest(Programming): Encouragement Award</strong> [2012.12]
								<ul class="explanation1">
									<li>Definition: It was a contest to evaluate whether or not I can solve algorithm problems within limited time.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Personality</strong>
						<ul>
							<li><strong>Citation from Gyeonggi-do Superintendent of Education</strong> [2012.08]
								<ul class="explanation1">
									<li>Definition: In addition to studying, I continued to develop myself by winning contests, volunteering, and acquiring certifications, and was awarded a citation for my sincerity and integrity.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Citation from the Gwangmyeong City Council Chairman</strong> [2014.02]
								<ul class="explanation1">
									<li>Definition: In addition to studying, I continued to develop myself by winning contests, volunteering, and acquiring certifications, and was awarded a citation for my sincerity and integrity.</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>2021 Korea Talent Award: Advance to Final</strong> [2021.12]
								<ul class="explanation1">
									<li>Definition: It was a contest to introduce and present me after being recommended by the professor and people and writing a self-introduction letter.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">English</strong>
						<ul>
							<li><strong>Gunpo e-Business High School English Speech Contest: Top Award</strong> [2012.11]
								<ul class="explanation1">
									<li>Definition: It was a contest to evaluate whether or not I can speak English fluently within limited time.</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>