<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>受賞歴</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">受賞歴</strong><br>
				<ul class="lists">
					<li><strong class="classification">Hackathon & Makerthon</strong>
						<ul>
							<li><strong>Environmental Data Utilization Contest - Product and Service Development Field: 優秀賞</strong> [2022.06]
								<ul class="explanation1">
									<li>定義：環境データを利用した創業アイテムを開発した後発表する大会でした。</li>
									<li>役割：チームでPHPを利用したホームページ開発とFlaskを利用したサーバー開発を総括担当しました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gunpo e-Business High School e-Digital Contents Project Presentation: 優秀賞</strong> [2012.10]
								<ul class="explanation1">
									<li>定義：NXT LEGO MINDSTORMでロボットを製作した後発表する大会でした。</li>
									<li>役割：チームはロボット制作とRobotCプログラミングを統括担当しました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gunpo e-Business High School Scratch Work Presentation: 優秀賞</strong> [2011.09]
								<ul class="explanation1">
									<li>定義：Scratchでゲームを開発した後に発表する大会でした。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Tourism Data Utilization Contest: 奨励賞 </strong> [2022.10]
								<ul class="explanation1">
									<li>定義：観光データを利用した創業アイテムを開発した後発表する大会でした。</li>
									<li>役割：チームは、React Nativeを使用したハイブリッドアプリの開発とPHPを使用したサーバー開発を統括しています。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Metaverse-based Fintech Hackathon: 奨励賞</strong> [2021.12]
								<ul class="explanation1">
									<li>定義：Unityでメタバスサービスを開発した後に発表する大会でした。</li>
									<li>役割：チームでUnityプログラミング、Agoraで映像通信システムを構築、NHオープンプラットフォームで決済システムを構築するなど、メタバスサービスの開発を総括担当しました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Gyeonggi-do Commercial Information Competency Contest - e-biz Solution Field: 奨励賞</strong> [2012.06]
								<ul class="explanation1">
									<li>定義：HTML、CSS、JavaScriptを利用して制限時間内にホームページをうまく開発するかどうかを評価する大会でした。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>WEMIX Hackathon: 本線進出</strong> [2022.03]
								<ul class="explanation1">
									<li>定義：創業アイテムを開発した後発表する大会でした。</li>
									<li>役割：チームは、Unityプログラミングなどのメタバスサービス開発を統括担当しました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Future Industry Business Model Idea Contest: 本線進出</strong> [2021.12]
								<ul class="explanation1">
									<li>定義：創業アイテムを企画した後発表する大会でした。</li>
									<li>役割：チームが計画書を確認した後、PUN2、Pythonなどどのようなスキルを使用するかを書きました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>MIDAS Challenge - Mobile Field: 本線進出</strong> [2018.05]
								<ul class="explanation1">
									<li>定義：Web、モバイル、アプリケーションSWの1つで創業アイテムを開発した後発表する大会でした。</li>
									<li>役割：チームはJavaを使ったAndroid開発を統括担当しました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>CookApps Game Creation Contest: 本線進出</strong> [2017.09]
								<ul class="explanation1">
									<li>定義：モバイルゲームを開発した後に発表する大会でした。</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Algorithm</strong>
						<ul>
							<li><strong>Gunpo e-Business High School Skills Contest(Programming): 奨励賞</strong> [2012.12]
								<ul class="explanation1">
									<li>定義：制限の時間の内にアルゴリズムの問​​題を解くのがうまくいくかを評価する大会でした。</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">Personality</strong>
						<ul>
							<li><strong>Citation from Gyeonggi-do Superintendent of Education</strong> [2012.08]
								<ul class="explanation1">
									<li>定義：学業だけでなく、大会で受賞、奉仕の活動、資格証を取得など着実に自己の開発を行い、品行が断定するほど誠実で表彰状を受けました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>Citation from the Gwangmyeong City Council Chairman</strong> [2014.02]
								<ul class="explanation1">
									<li>定義：学業だけでなく、大会で受賞、奉仕の活動、資格証を取得など着実に自己の開発を行い、品行が断定するほど誠実で表彰状を受けました。</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li><strong>2021 Korea Talent Award: 本線進出</strong> [2021.12]
								<ul class="explanation1">
									<li>定義：教授に推薦を受けて自己紹介書を作成した後、PT発表する大会でした。</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><strong class="classification">English</strong>
						<ul>
							<li><strong>Gunpo e-Business High School English Speech Contest: 最優秀賞</strong> [2012.11]
								<ul class="explanation1">
									<li>定義：制限の時間の内に流暢に英語で話すかを評価する大会でした。</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>