<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT資格を取得</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/6.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								これまでの資格を集めた様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				さまざまな能力を強化し、資格を取って私に対する価値を高めるためです。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>挑戦精神、情熱</strong>：継続的に認定試験を受験する過程で強化されました。</li>
						<li> <strong>学習能力</strong>：新しい知識を習得し、能力を強化するプロセスを通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>小学校6年生の時、「ITQ Hangul Level-A」を取得したことを始め、複数の資格を取得しました。</li>
						<li><a href="../../Lists/licensesJP.html" target="_blank">資格取得</a></li>
					</ul>

			</div>
		</div>
	</body>
</html>