<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>프로그램 개발 및 출시</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								개발한 프로그램을 플레이스토어에 출시한 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				개발 능력을 강화하고, 제 프로그램을 알리기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 프로그램을 구현하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>인내력, 집중력</strong> : 에러를 어떻게 해결할지 고민한 후 시도하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 프로그램을 어떻게 구현할지 고민하고, 모르는 내용은 구글에서 검색하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>학습 능력</strong> : 새로운 분야를 개발하기 위해, 동영상 강의를 들으면서 따라하고, 모르는 내용은 구글에서 검색하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong><br>
					<ul>
						<li>나름 인기가 있는 게임은 저작권등록위원회에 저작권 등록까지 하였습니다.</li>
						<li><a href="https://play.google.com/store/apps/dev?id=7737310901106380929" target="_blank">Google Play</a></li>
						<li><a href="https://github.com/jhs951101" target="_blank">GitHub</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>