<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Exercising at the Gym
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/9.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To do strength training at the gym
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to strengthen the body and stamina to prevent lethargy and live a passionate life.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Challenging spirit</strong> : It has been strengthened by starting a new exercise and increasing the intensity.</li>
<li><strong>Patience</strong> : It has been strengthened through the process of exercising with utmost effort until a specific area hurts.</li>
<li><strong>Stamina</strong> : It has been strengthened through the process of regular exercise.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>I work out at the gym for 2 hours every night, regardless of weekdays, weekends and holidays.</li>
<li>When you think of 'half easy and half difficult' while increasing the intensity, focus on that intensity.</li>
					</ul>
			</div>
		</div>
	</body>
</html>