<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>헬스장에서 운동</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/9.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								헬스장에서 근력 운동 하는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				체력을 강화해서 무기력을 방지하고 열정적인 삶을 살기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>도전 정신</strong> : 새로운 운동을 시작하고, 강도를 높이는 과정을 통해서 강화되었습니다.</li>
						<li><strong>인내력</strong> : 특정 부위가 아플 때까지 최선을 다해서 운동하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>체력</strong> : 꾸준히 운동하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>평일, 주말, 공휴일, 따지지 않고 매일 밤 2시간씩 헬스장에서 운동합니다.</li>
						<li>강도를 높이다가 '반은 쉽고 반은 어렵다'라는 생각이 들 때, 그 강도로 집중적으로 운동합니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>